.find-car-left {
	background: linear-gradient(rgb(249, 168, 48, 0.9), rgb(249, 168, 48, 0.9)),
		url(../assets/all-images/toyota-offer-2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 65px 35px;
}
.find-car-left h2 {
	font-size: 2.8rem;
	font-weight: 600;
	color: #fff;
}
.form {
	padding: 55px 50px 15px 15px;
	/* padding-top: 55px;
	padding-right: 50px;
	padding-bottom: 15px;
	padding-left: 15px; */
}
.form-group {
	margin-bottom: 0;
	width: 30%;
}
.form-group::placeholder {
	color: #7c8a97;
}
.form-group input {
	border: 1px solid #7c8a927a;
	outline: none;
	padding: 8px 12px;
	width: 100%;
}
.select-group {
	margin-bottom: 0;
	width: 30%;
}
.select-group select {
	width: 100%;
	padding: 10px 15px;
	border: 1px solid #7c8a972a;
	outline: none;
	color: #7c8a97;
}
.form-row {
	background: #fff;

	box-shadow: 5px 5px 15px -5px #7c8a97;
}
/* to control the form move on the parent "hero_slider_section" */
.hero_slider_section {
	position: relative;
	z-index: 10;
	margin-bottom: 150px;
}
.hero_slider_section .hero-form {
	position: absolute;
	bottom: -100px;
	z-index: 11;
	width: 100%;
}
.btn.find-car-btn {
	border: none;
	outline: none;
	background: #000d6b;
	width: 100%;
	color: #fff;
}
.btn.find-car-btn:hover {
	border: none;
	outline: none;
	background: #000d6b;
	width: 100%;
	color: #fff;
}
